table 
{
border: 2px solid #353A46;
background-color: rgb(52, 173, 78);

}

input[type=text], input[type=password]
{
width: 100%;
padding: 8px 20px;
border: 2px solid #ccc;
box-sizing: border-box;

}

img
{
width: 100px;
height: 100px;
}

label
{
text-align: center;
font-size: 14px;
font-weight: bold;
font-family: arial;
}

input[type=submit]
{
text-align: center;
background-color: rgb(194, 14, 14);
color:rgb(15, 7, 7);
padding: 8px 10px;
margin: 8px 0px;
border: solid;
cursor: pointer;
width: 40%;
}
